
<div class="nav-top">
	<div class="nav-left">
		<h4>
			<%= link_to "Check the line", business_visits_path(@business), "data-ajax" => "false" %>
		</h4>
	</div>

	<div class="nav-right">
		<h4>
			<%= link_to "Log out", logout_path, method: :delete, "data-ajax" => "false" %>
		</h4>
	</div>
</div>

<div class="jumbotron">
	<h3 class="center-text">Welcome to <%= @business.name %>!</h3>
	<p class="center-text">
		You can place your order while you wait! Enter your name and phone number below to get started.
	</p>
</div>

<div class="register-container">
	<%= form_for [@business, @visit] do |f| %>
		<div data-role="fieldcontain" class="register-field">
		    <label for="name">Your name:</label>
		    <%= f.text_field :name, id: "name"%>
		</div>

		<div data-role="fieldcontain" class="register-field">
			<label for="phone">Your phone number:</label>
			<%= f.text_field :phone, id: "phone"%>
		</div>
		<%= f.submit "Submit" %>
	<% end %>
</div>