
<div class="nav-top">
	<div class="nav-left">
		<h4>
			<%= link_to "Check the line", business_visits_path(@business), "data-ajax" => "false" %>
		</h4>
	</div>

	<div class="nav-right">
		<h4>
			<%= link_to "Log out", logout_path, method: :delete, "data-ajax" => "false" %>
		</h4>
	</div>
</div>

<div class="jumbotron">
	<h3 class="center-text">Welcome to <%= @business.name %>!</h3>
	<p class="center-text">
		You can place your order while you wait! Enter your name and phone number below to get started.
	</p>
</div>

<div class="flash-container center-text">
	<%= render 'shared/flash_messages' if !flash.empty? %>
</div>

<div class="register-container">
	<%= form_tag(business_visits_path(@business), method: :post) do %>
		<div data-role="fieldcontain" class="register-field">
		    <label for="name">Your name:</label>
		    <%= text_field_tag 'name', nil,  id: "name" %>
		</div>

		<div data-role="fieldcontain" class="register-field">
			<label for="phone">Your phone number:</label>
			<%= text_field_tag 'phone', nil, id: "phone" %>
		</div>
		<%= submit_tag("Submit") %>
	<% end %>
</div>